h1 {
    margin-bottom: 1px;
    font-weight: bold;
    color: rgb(25, 128, 84);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

label {
    color: #333;
    margin-top: 15px;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    margin-top: 15px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-bottom: 35px;
}