body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    width: 100%;
    background-color: white;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.navbar-brand img {
    height: 85px;
}

.nav-link {

    font-weight: bold;

    color: black;

}

.nav-link:hover {

    color: #28A745;

}

.user-menu {

    display: flex;

    align-items: center;

    gap: 10px;

}

.user-avatar {

    width: 70px;

    height: 70px;

    border-radius: 50%;

    background-color: #ccc;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 18px;

    color: white;

}

.avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.inicio{

    color: black ;

    text-decoration: underline;

}

.inicio:hover{

    color: #28A745;

}


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    background-color: #ECEFF1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    padding: 10px 0;
}

.social-icon {
    font-size: 24px;
    margin: 0 8px;
    margin-top: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    background-color: #ECEFF1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    padding: 10px 0;
}

.social-icon {
    text-decoration: none; 
    border: none;
    outline: none;
    color: #454545;
}

.social-icon i {
    display: inline-block;
    vertical-align: middle;
}

.social-icon:hover {
    color: #198754;
}

.footer-section {
    border-top: 1px solid #d9d9d9;
    padding: 8px 0;
}


.footer-logo img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 180px;
}


.footer-content {
    color: #454545;
    font-size: 15.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-content a {
    color: #454545;
    font-size: 15.5px;
}

.footer-content a:hover {
    color: #198754;
    text-decoration: underline;
}

p {
    margin: 0 0 8px 0;
}


hr {
    margin: 6px 0;
}

.container-fluid {
    flex: 1;
}


.footer-section .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}


.footer-section .row .col-md-3.footer-content,
.footer-section .row .col-md-4.footer-content {
    margin-top: 20px;
}


.footer-section .row .col-md-3.footer-logo {
    margin-top: 20px;
}

.footer-section .d-flex.justify-content-center.p-3 {
    background-color: #198754;
}

.nav-link_2 {
    color: #198754;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link_2:hover {
    color: #198754;
    text-decoration: underline;
}
